.carousel_category_product_detail {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  display: block;
}

.carousel_detail {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  letter-spacing: -0.5px;
  outline-width: 1px;
  position: relative;
  padding: 0;
  padding-bottom: 0;
  display: block;
}

.carousel_detail:after {
  content: '';
  display: block;
  clear: both;
}

.carousel_thumbnail {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  outline-width: 1px;
  overflow: hidden;
  position: relative;
  top: inherit;
  left: inherit;
  float: left;
  width: 42%;
}

.carousel_link > img {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  border: 0;
  vertical-align: top;
  width: 100%;
}

.carousel_image {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  transition: transform 0.2s ease-out 0s;
}

.carousel_image:hover {
  transform: scale(1.05);
}

.carousel_category_product_bdg {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.carousel_name_2 {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  outline-width: 1px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.24px;
  color: #222;
  margin-top: 2px;
}

.carousel_name_2:hover {
  text-decoration: underline;
  color: #222;
}

.carousel_summary {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  letter-spacing: -0.5px;
  outline-width: 1px;
  display: block;
  min-height: 105px;
  overflow: hidden;
  height: auto;
  padding: 0 0 0 20px;
}

.carousel_discount {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  display: block;
  margin-top: 5px;
}

.carousel_price {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.24px;
  color: #222;
}

.carousel_more {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  display: block;
  margin-top: 10px;
}

.carousel_showroom {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  display: block;
  left: inherit;
  position: relative;
  bottom: inherit;
  margin-top: 15px;
}

.carousel_store {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  background: 0 0;
  outline: 0;
  cursor: pointer;
  display: inline-block;
  min-width: 52px;
  padding: 0 8px;
  margin-right: 4px;
  margin-bottom: 2px;
  vertical-align: middle;
  border: #ffcd32 1px solid;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: -0.15px;
}

.carousel_store:hover {
  text-decoration: underline;
}

.carousel_gwang,
.carousel_gwang:hover {
  border-color: #a27fde;
  color: #a27fde;
}

.carousel_jam,
.carousel_jam:hover {
  border-color: #46cfa7;
  color: #46cfa7;
}

.carousel_wolgye,
.carousel_wolgye:hover {
  border-color: #ffa04d;
  color: #ffa04d;
}

.carousel_guro,
.carousel_guro:hover {
  border-color: #68a4fe;
  color: #68a4fe;
}

.carousel_songpa,
.carousel_songpa:hover {
  border-color: #ffcd32;
  color: #ffcd32;
}

.carousel_dongrae,
.carousel_dongrae:hover {
  border-color: #00afe3;
  color: #00afe3;
}
