.carousel_inbox {
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.5px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 60px;
}

.carousel_home_contents_head {
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.5px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  padding: 90px 0 0;
}

.carousel_tit {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-width: 1px;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -0.45px;
  color: #222;
}

.carousel_tit > span {
  font-weight: 300;
}

.carousel_tit > b {
  font-weight: 700;
}

.carousel_products {
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.5px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  position: relative;
  padding: 40px 0 120px;
}

.carousel_event_class {
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.5px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-right: 2%;
}

.carousel_special_class {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  outline-width: 1px;
  list-style: none;
  float: right;
  width: 50%;
}

.carousel_more_link {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  outline-width: 1px;
  display: block;
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: -0.21px;
  color: #787878;
}

.carousel_more_link:hover {
  color: #ffcd32;
}

.carousel_link {
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.5px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  outline-width: 1px;
  position: relative;
  display: block;
}

.carousel_mobile {
  display: none;
}

.carousel_img {
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.5px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  border: 0;
  vertical-align: top;
  width: 100%;
}

.carousel_real_img {
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.5px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.carousel_name {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  bottom: 7%;
  left: 35px;
  padding-right: 20px;
  font-size: 25px;
  line-height: 37px;
  font-weight: 700;
  letter-spacing: -0.38px;
  color: #222;
}

.carousel_name:after {
  content: '';
  position: absolute;
  top: 8px;
  right: 4px;
  text-align: center;
  background-image: url(../img/sprite/kukka.png);
  background-size: 626px 422.5px;
  width: 5.5px;
  height: 9.5px;
  background-position: -619px -187.5px;
}

.carousel_desc {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  max-width: 90%;
  bottom: 18%;
  left: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: -0.27px;
  color: #222;
}

.carousel_left_button {
  left: calc((100% - 1380px) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 196px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: #fff;
  border: 0;

  background-image: url('../../assets/image/kukka.png');
  background-position: -1012px -275px;
  width: 102px;
  height: 102px;
  background-size: 1252px 845px;
}

.carousel_right_button {
  right: calc((100% - 1380px) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 196px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: #fff;
  font-size: 16px;
  border: 0;

  background-image: url('../../assets/image/kukka.png');
  background-position: -835px -275px;
  width: 102px;
  height: 102px;
  background-size: 1252px 845px;
}

.carousel_first_item {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  outline-width: 1px;
  padding-top: 0;
}

.carousel_second_item {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  outline-width: 1px;
  margin-top: 5%;
  padding-top: 5%;
  border-top: #d3d3d3 1px solid;
}

@media (min-width: 1024px) {
  .carousel_products:after {
    content: '';
    display: block;
    clear: both;
  }
  .carousel_name:after {
    top: 11px;
    right: 4px;
    background-image: url('../../assets/image/kukka.png');
    background-position: -1238px -375px;
    width: 11px;
    height: 19px;
    background-size: 1252px 845px;
  }
}
