@media (max-width: 1380px) {
  .carousel_left_button {
    left: 0px;
  }

  .carousel_right_button {
    right: 0px;
  }
}

@media (max-width: 1024px) {
  .carousel_inbox {
    -webkit-text-size-adjust: 100%;
    letter-spacing: -0.5px;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    box-sizing: border-box;
    padding: 0;
  }

  .carousel_home_contents_head {
    -webkit-text-size-adjust: 100%;
    letter-spacing: -0.5px;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    box-sizing: border-box;
    padding: 40px 20px 0;
  }

  .carousel_tit {
    -webkit-text-size-adjust: 100%;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline-width: 1px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: -0.33px;
    color: #222;
  }

  .carousel_products {
    -webkit-text-size-adjust: 100%;
    letter-spacing: -0.5px;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    box-sizing: border-box;
    position: relative;
    padding: 20px 20px 40px;
  }

  .carousel_event_class {
    -webkit-text-size-adjust: 100%;
    letter-spacing: -0.5px;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    box-sizing: border-box;
    width: 100%;
  }

  .carousel_special_class {
    -webkit-text-size-adjust: 100%;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    outline-width: 1px;
    list-style: none;
    width: 100%;
  }

  .carousel_more_link {
    display: none;
  }

  .carousel_mobile {
    display: block;
  }

  .carousel_pc {
    display: none;
  }

  .carousel_name {
    -webkit-text-size-adjust: 100%;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    box-sizing: border-box;
    position: absolute;
    bottom: 7%;
    left: 20px;
    padding-right: 15px;
    z-index: 2;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.24px;
    color: #222;
  }

  .carousel_name:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 4px;
    text-align: center;
    background-image: url(../../assets/image/kukka.png);
    background-size: 626px 422.5px;
    width: 5.5px;
    height: 9.5px;
    background-position: -619px -187.5px;
  }

  .carousel_desc {
    -webkit-text-size-adjust: 100%;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    box-sizing: border-box;
    position: absolute;
    bottom: 18%;
    left: 20px;
    z-index: 2;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: -0.21px;
    color: #222;
  }

  .carousel_left_button {
    display: none;
  }

  .carousel_right_button {
    display: none;
  }

  .carousel_first_item {
    -webkit-text-size-adjust: 100%;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    outline-width: 1px;
    padding-top: 20px;
  }

  .carousel_second_item {
    -webkit-text-size-adjust: 100%;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo';
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    outline-width: 1px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: #ececec 1px solid;
  }
}
