@import './GNB/index.css';
@import './Video/index.css';
@import './Carousel/index.css';
@import './Carousel/mobile.css';
@import './Carousel/FlowerClass/index.css';
@import './Carousel/FlowerClass/mobile.css';
@import './Banner/index.css';
@import './fonts.css';

main {
  margin-top: 10px;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}
